In [2]:
from sqlalchemy import MetaData, Integer, String, Column, Table, create_engine

In [3]:
engine = create_engine('sqlite://', echo=True)

In [6]:
metadata = MetaData()
user_table = Table('user', metadata,
                  Column('id', Integer, primary_key=True),
                  Column('name', String))
engine.create_table(user_table)str(user_table.create(engine))

AttributeError: 'Engine' object has no attribute 'create_table'

In [177]:
query = user_table.insert({'name': 'Aidka'})
engine.execute(query)

2021-02-01 19:56:28,127 INFO sqlalchemy.engine.base.Engine INSERT INTO user (name) VALUES (?)
2021-02-01 19:56:28,128 INFO sqlalchemy.engine.base.Engine ('Aidka',)
2021-02-01 19:56:28,129 INFO sqlalchemy.engine.base.Engine COMMIT

In [179]:
user_table.drop(engine)

2021-02-01 19:56:54,430 INFO sqlalchemy.engine.base.Engine
DROP TABLE user
2021-02-01 19:56:54,442 INFO sqlalchemy.engine.base.Engine ()
2021-02-01 19:56:54,444 INFO sqlalchemy.engine.base.Engine COMMIT

In [56]:
engine.execute('select * from user').fetchall()

2021-02-01 19:23:19,655 INFO sqlalchemy.engine.base.Engine select * from user
2021-02-01 19:23:19,657 INFO sqlalchemy.engine.base.Engine ()

[(1, 'Boris'), (2, 'Aidka')]

In [85]:
query = user_table.select(user_table.c.name == 'Boris')
str(user_table.select().select(user_table.c.name == 'boris').order_by(user_table.c.id.desc()))

'SELECT id, name \nFROM (SELECT "user".id AS id, "user".name AS name \nFROM "user"), "user" \nWHERE "user".name = :name_1 ORDER BY "user".id DESC'

In [74]:
user_table.select(user_table.c.name == 'Boris').select(user_table.c.id).__str__()

'SELECT id, name \nFROM (SELECT "user".id AS id, "user".name AS name \nFROM "user" \nWHERE "user".name = :name_1), "user" \nWHERE "user".id'

In [132]:
from sqlalchemy import DateTime, ForeignKey
metadata = MetaData(bind=engine)

In [133]:
user_table = Table('user', metadata,
                  Column('id', Integer, primary_key=True),
                  Column('name', String))

In [134]:
network_table = Table('network', metadata,
               Column('id', Integer, primary_key=True),
               Column('name', String, nullable=False),
               Column('created_at', DateTime, nullable=False),
               Column('owner_id', Integer, ForeignKey('user.id')))

In [137]:
#metadata.drop_all()
metadata.create_all()

2021-02-01 19:39:47,746 INFO sqlalchemy.engine.base.Engine PRAGMA main.table_info("user")
2021-02-01 19:39:47,748 INFO sqlalchemy.engine.base.Engine ()
2021-02-01 19:39:47,751 INFO sqlalchemy.engine.base.Engine PRAGMA main.table_info("network")
2021-02-01 19:39:47,752 INFO sqlalchemy.engine.base.Engine ()

In [138]:
metadata2 = MetaData()
user_reflected = Table('user', metadata2, autoload=True, autoload_with=engine)
user_reflected.__str__()

2021-02-01 19:41:15,690 INFO sqlalchemy.engine.base.Engine PRAGMA main.table_xinfo("user")
2021-02-01 19:41:15,693 INFO sqlalchemy.engine.base.Engine ()
2021-02-01 19:41:15,699 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'user' AND type = 'table'
2021-02-01 19:41:15,701 INFO sqlalchemy.engine.base.Engine ()
2021-02-01 19:41:15,705 INFO sqlalchemy.engine.base.Engine PRAGMA main.foreign_key_list("user")
2021-02-01 19:41:15,706 INFO sqlalchemy.engine.base.Engine ()
2021-02-01 19:41:15,707 INFO sqlalchemy.engine.base.Engine PRAGMA temp.foreign_key_list("user")
2021-02-01 19:41:15,709 INFO sqlalchemy.engine.base.Engine ()
2021-02-01 19:41:15,710 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'user' AND type = 'table'
2021-02-01 19:41:15,712 INFO sqlalchemy.engine.base.Engine ()
2021-02-01 19:41:15,714 INFO sqlalchemy.engine.base.Engine PRAGMA main.index_list("user")
2021-02-01 19:41:15,715 INFO sqlalchemy.engine.base.Engine ()
2021-02-01 19:41:15,716 INFO sqlalchemy.engine.base.Engine PRAGMA temp.index_list("user")
2021-02-01 19:41:15,717 INFO sqlalchemy.engine.base.Engine ()
2021-02-01 19:41:15,718 INFO sqlalchemy.engine.base.Engine PRAGMA main.index_list("user")
2021-02-01 19:41:15,719 INFO sqlalchemy.engine.base.Engine ()
2021-02-01 19:41:15,720 INFO sqlalchemy.engine.base.Engine PRAGMA temp.index_list("user")
2021-02-01 19:41:15,720 INFO sqlalchemy.engine.base.Engine ()
2021-02-01 19:41:15,721 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'user' AND type = 'table'
2021-02-01 19:41:15,722 INFO sqlalchemy.engine.base.Engine ()

'user'

In [141]:
user_reflected

Table('user', MetaData(bind=None), Column('id', INTEGER(), table=<user>, primary_key=True, nullable=False), Column('name', VARCHAR(), table=<user>), schema=None)

In [144]:
from sqlalchemy import inspect
inspector = inspect(engine)

In [148]:
inspector.get_columns('network')

2021-02-01 19:45:31,767 INFO sqlalchemy.engine.base.Engine PRAGMA main.table_xinfo("network")
2021-02-01 19:45:31,770 INFO sqlalchemy.engine.base.Engine ()

[{'name': 'id',
  'type': INTEGER(),
  'nullable': False,
  'default': None,
  'autoincrement': 'auto',
  'primary_key': 1},
 {'name': 'name',
  'type': VARCHAR(),
  'nullable': False,
  'default': None,
  'autoincrement': 'auto',
  'primary_key': 0},
 {'name': 'created_at',
  'type': DATETIME(),
  'nullable': False,
  'default': None,
  'autoincrement': 'auto',
  'primary_key': 0},
 {'name': 'owner_id',
  'type': INTEGER(),
  'nullable': True,
  'default': None,
  'autoincrement': 'auto',
  'primary_key': 0}]

In [150]:
user_reflected = Table('user', metadata2, autoload=True, load_with=engine)

In [151]:
user_reflected

Table('user', MetaData(bind=None), Column('id', INTEGER(), table=<user>, primary_key=True, nullable=False), Column('name', VARCHAR(), table=<user>), schema=None)

In [157]:
database table is lockedmetadata3 = MetaData()
user_table = Table('user', metadata3, Column('id', Integer(), primary_key=True, nullable=False), Column('name', String()), schema=None)

In [159]:
metadata3.tables

immutabledict({'user': Table('user', MetaData(bind=None), Column('id', Integer(), table=<user>, primary_key=True, nullable=False), Column('name', String(), table=<user>), schema=None)})

In [204]:
((user_table.c.id > 4) | (user_table.c.name == 'sdf') & (user_table.c.name == '32')).__str__()

'"user".id > :id_1 OR "user".name = :name_1 AND "user".name = :name_2'

In [252]:
from sqlalchemy import or_, and_, select

In [214]:
or_(user_table.c.id== 3, user_table.c.name == '23').__dir__()

['clauses',
 'group',
 'operator',
 'group_contents',
 'type',
 '_is_implicitly_boolean',
 '__module__',
 '__visit_name__',
 '_tuple_values',
 '__init__',
 '_construct',
 'and_',
 'or_',
 '_select_iterable',
 'self_group',
 '_negate',
 '__doc__',
 '_compiler_dispatch',
 '__iter__',
 '__len__',
 'append',
 '_copy_internals',
 'get_children',
 '_from_objects',
 'compare',
 '_annotations',
 'supports_execution',
 'bind',
 '_is_clone_of',
 'is_selectable',
 'is_clause_element',
 'description',
 '_order_by_label_element',
 '_is_from_container',
 '_clone',
 '_constructor',
 '_cloned_set',
 '__getstate__',
 '_annotate',
 '_with_annotations',
 '_deannotate',
 '_execute_on_connection',
 'unique_params',
 'params',
 '_params',
 'compile',
 '_compiler',
 '__str__',
 '__and__',
 '__or__',
 '__invert__',
 '__bool__',
 '__nonzero__',
 '__repr__',
 '__dict__',
 '__weakref__',
 '__hash__',
 '__getattribute__',
 '__setattr__',
 '__delattr__',
 '__lt__',
 '__le__',
 '__eq__',
 '__ne__',
 '__gt__',
 '__ge__',
 '__new__',
 '__reduce_ex__',
 '__reduce__',
 '__subclasshook__',
 '__init_subclass__',
 '__format__',
 '__sizeof__',
 '__dir__',
 '__class__',
 'primary_key',
 'foreign_keys',
 '_proxies',
 '_label',
 'key',
 '_key_label',
 '_render_label_in_columns_clause',
 '_resolve_label',
 '_allow_label_resolve',
 '_alt_names',
 'comparator',
 '__getattr__',
 'operate',
 'reverse_operate',
 '_bind_param',
 'expression',
 'base_columns',
 'proxy_set',
 '_uncached_proxy_set',
 'shares_lineage',
 '_compare_name_for_result',
 '_make_proxy',
 'cast',
 'label',
 'anon_label',
 '__slots__',
 'timetuple',
 'is_distinct_from',
 'isnot_distinct_from',
 '__neg__',
 '__contains__',
 '__getitem__',
 '__lshift__',
 '__rshift__',
 'concat',
 'like',
 'ilike',
 'in_',
 'notin_',
 'notlike',
 'notilike',
 'is_',
 'isnot',
 'startswith',
 'endswith',
 'contains',
 'match',
 'desc',
 'asc',
 'nullsfirst',
 'nullslast',
 'collate',
 '__radd__',
 '__rsub__',
 '__rmul__',
 '__rdiv__',
 '__rmod__',
 'between',
 'distinct',
 'any_',
 'all_',
 '__add__',
 '__sub__',
 '__mul__',
 '__div__',
 '__mod__',
 '__truediv__',
 '__rtruediv__',
 'op',
 'bool_op']

In [237]:
or_(user_table.c.id== 3, user_table.c.name == '23').compile().params

{'id_1': 3, 'name_1': '23'}

In [247]:
from sqlalchemy.dialects.postgresql import insert

In [250]:
user_table.insert().values=[{'name': 'boris'}, {'name': 'Aida'}])

In [255]:
select([user_table.c.id]).__str__()

'SELECT "user".id \nFROM "user"'